.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left bottom, #e5961b, #fc7445, #fd5770, #e64e9c, #b55ac1, #9d5dce, #7c62d9, #4b67e3, #5f61eb, #7559f0, #8c4df3, #a43cf4);
  background-size: cover;
  background-repeat: no-repeat; /* Ensures the background does not repeat */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  min-height: 100vh; /* Ensures the body takes up at least the viewport height */
}



