@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3em;
}


body {
  background-image: linear-gradient(to left bottom, #e5961b, #fc7445, #fd5770, #e64e9c, #b55ac1, #9d5dce, #7c62d9, #4b67e3, #5f61eb, #7559f0, #8c4df3, #a43cf4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat ;
}

.devicon-linkedin-plain  {
  font-size: 3rem; 
}

.devicon-github-original {
  font-size: 3rem; 
}

.material-symbols-outlined {
  font-size: 3rem; 
}

.hover-link {
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.hover-link:hover {
  transform: scale(1.2); /* Scale up by 20% */
}
